<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: header"></head>

<body>

<div class="dashboard-main-wrapper">

    <div th:replace="/fragments/header :: header"></div>

    <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>

    <div class="dashboard-wrapper">

        <div class="dashboard-ecommerce">

            <div class="container-fluid dashboard-content">

                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header" id="top">
                            <h2 class="pageheader-title">Project Create</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <form>

                            <div class="row">
                                <div class="col-sm-12 col-md-12 ">
                                    <div class="form-group">
                                        <label for="projectname" class="col-form-label">Project Name</label>
                                        <input id="projectname" type="text" placeholder="project name" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-12 ">
                                    <div class="form-group">
                                        <label for="projectcode" class="col-form-label">Project Code</label>
                                        <input id="projectcode" type="text"  placeholder="project code" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-12 ">
                                    <div class="form-group">
                                        <label>Assigned Manager </label> <br>
                                        <select name="roleid" id="roleid" class="custom-select" required="required">
                                            <option value="select">Select</option>
                                            <option value="admin">Admin</option>
                                            <option value="manager">Manager</option>
                                            <option value="employee">Employee</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-sm-3 col-md-3 ">
                                    <div class="form-group">
                                        <label>Project Start Date <small class="text-muted"></small></label>
                                        <input type="text" class="form-control date-inputmask" id="startdate" placeholder="dd/mm/yyyy">
                                    </div>
                                </div>

                                <div class="col-sm-3 col-md-3 ">
                                    <div class="form-group">
                                        <label>Project End Date <small class="text-muted"></small></label>
                                        <input type="text" class="form-control date-inputmask" id="enddate" placeholder="dd/mm/yyyy">
                                    </div>
                                </div>


                            </div>


                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Project Detail</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-12">
                                    <div class="float-right">
                                        <button type="button" class="btn btn-success">Save</button>
                                    </div>
                                </div>
                            </div>

                        </form>


                    </div>

                    <div class="col-sm-12 col-md-12 ">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="page-header" id="top2">
                                    <h2 class="pageheader-title">Project List</h2>
                                </div>
                            </div>


                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="card">


                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Project Code</th>
                                            <th scope="col">Project Name</th>
                                            <th scope="col">Start/End Date</th>
                                            <th scope="col">Manager</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>PRJ001</td>
                                            <td>Human Resource CRM</td>
                                            <td>01.03.2021-01.09.2021</td>
                                            <td>Sam Kar</td>
                                            <td>In Progress</td>
                                            <td class="actions">
                                                <a href=""><button type="button" class="btn btn-primary btn-sm">Update</button></i></a>
                                                <a href="" class="delete-row"><button type="button" class="btn btn-secondary btn-sm">Delete</button> </a>
                                                <a href="" class="complete-row"><button type="button" class="btn btn-dark btn-sm">Complete</button> </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>PRJ002</td>
                                            <td>Prog. Upgrade</td>
                                            <td>01.04.2021-01.012.2021</td>
                                            <td>Dave Strong</td>
                                            <td>UAT Phase</td>
                                            <td class="actions">
                                                <a href=""><button type="button" class="btn btn-primary btn-sm">Update</button></i></a>
                                                <a href="" class="delete-row"><button type="button" class="btn btn-secondary btn-sm">Delete</button> </a>
                                                <a href="" class="complete-row"><button type="button" class="btn btn-dark btn-sm">Complete</button> </a>
                                            </td>
                                        </tr>

                                    </table>


                                    <!-- footer -->
                                    <footer class="page-footer font-small blue fixed-bottom">
                                        <div class="footer-copyright text-center py-3">© 2021 Cybertek – All Rights Reserved</div>
                                    </footer>


                                </div>

                            </div>

                        </div>

                        <div>


                        </div>


                    </div>



                </div>



                <!-- ------------------------TABLE END----------------------------- -->

            </div>

        </div>

    </div>

    <div th:replace="/fragments/footer :: footer"></div>

</div>

<div th:replace="/fragments/javascript :: js"></div>

</body>

</html>
